<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - Plume</title>
    <link rel="stylesheet" href="/main.css">
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script>
      feather.replace
    </script>
  </body>
</html>
