{% extends 'views/template.html' %}

{% block content %}
  <div class="article-list">
    <h1>Latest stories</h1>
    {% for story in latest %}
      <div class="card article">
        <div class="illustration" style="background-image: url('{{ story.illustration }}')"></div>
        <div class="summary">
          <h2>{{ story.title }}</h2>
          <p>{{ story.summary }}</p>
          <p>{{ story.likes }} likes &mdash; By {{ story.author }}</p>
        </div>
        <div class="actions">
          <i data-feather="bookmark"></i>
          <i data-feather="heart"></i>
        </div>
      </div>
    {% endfor %}
  </div>

  <aside class="card">
    <h2>Plume in your mailbox</h2>
    <p>Subscribe to your customized newsletter, and never miss a story from your favorite writers.</p>
    <input type="text" name="" value="">
    <a href="#" class="button">Subscribe</a>
  </aside>
{% endblock %}
