{% extends 'views/base.html' %}

{% block body %}
  <header>
    <div>
      <h1>Plume</h1>
      <ul>
        <li><a href="/write">Start writing</a></li>
        <li><a href="/signin">Sign in or sign up</a></li>
      </ul>
    </div>
    <nav>
      <ul class="tabs">
        <li class="selected">Home</li>
        <li>Favorites</li>
        <li>#Technology</li>
        <li>#Art</li>
        <li>#Design</li>
        <li>#Philosophy</li>
        <li>#Lifestyle</li>
        <li>#Programming</li>
        <li>#Politics</li>
        <li>…</li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    Copyright, license, and Co.
  </footer>
{% endblock %}
