{% extends 'views/base.html' %}

{% block body %}
  <div id="editor">
    <h1 contenteditable="true"></h1>
    <div contenteditable="true">

    </div>
  </div>
  <a href="#" class="fab"></a>
{% endblock %}
