$imperial: #5941a9;
$gray: #d0ccd0;
$background: #f7f7f7;
$radius: 2px;
$padding: 20px;
$margins: 10%;

html, body {
  font-family: 'Open Sans';
  background: $background;
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  font-family: 'Raleway';
  color: $imperial;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: $imperial;
}

header {
  background: white;
  box-shadow: 0px 0px 4px $gray;
  & > div {
    display: flex;
    align-items: center;
    padding: $padding $margins;
    margin: 0px;

    h1 {
      flex-grow: 11;
    }
  }

  ul {
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    li {
      padding: 0px;
      display: inline;
    }
  }

  nav {
    padding: $padding $margins;
    padding-bottom: 0px;
    li {
      height: 2em;
      width: 100%;
      text-align: center;
    }
  }

}


.tabs {
  li {
    transition: all 0.2s ease-in;
    cursor: pointer;
    border-bottom:  $radius solid white;
    &.selected, &:hover {
      border-bottom-color: $imperial;
      color: $imperial
    }
  }
}

main {
  display: flex;
  align-items: flex-start;
  background: $background;
  margin: 100px $margins;

  .card {
    background: white;
    border-radius: $radius;
    border: 1px solid $gray;
    box-shadow: 0px 0px 4px $gray;
  }

  .article-list {
    flex-basis: 75%;
  }

  .article {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    margin-bottom: $padding;

    .illustration {
      grid-column: 1;
      top: -$padding;
      left: -$padding;
      bottom: 0px;
      background-size: cover;
      background-position: center;
    }

    .summary {
      grid-column: 2;
      padding: $padding;
      padding-left: calc($padding * 2);
    }

    .actions {
      padding: $padding;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;

      svg {
        cursor: pointer;
        opacity: 0.25;
        transition: all 0.2s ease-in;

        &:hover {
          opacity: 1 !important;
        }
      }
    }

    &:hover > .actions > svg {
      opacity: 0.5;
    }
  }

  aside {
    flex-basis: 25%;
    margin-left: $padding;
    padding: $padding;
  }
}

input {
  border: 1px solid $gray;
  background: $background;
  padding: calc($padding / 2);
  display: block;
  margin: $padding 0px;
  width: 90%;
}

a.button {
  background: $imperial;
  color: white;
  font-weight: bolder;
  margin: $padding auto;
  padding: calc($padding / 2);
}

footer {
  margin: 0px;
  padding: calc($padding * 2) $margins;
  background: $imperial;
  color: $background;
}

#editor {
  font-family: 'Liberation Serif', serif;
  background-color: white;
  padding: $margins;
  cursor: text;
  min-height: 100vh;
  text-align: justify;
  line-height: 1.6em;
  font-size: 1.3em;
}

#editor > * {
  min-height: 1em;
}

#editor > h1:not(:focus)::before {
  content: 'Title'
  color: $gray;
}

.fab {
  border-radius: 100%;
  position: fixed;
  bottom: $margins;
  right: $margins;
  width: 50px;
  height: 50px;
  background: $imperial;
  box-shadow: 0px 0px 4px $gray;
}
